<!DOCTYPE html>
<html>
  <head>
    <title>classify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="stylesheets/classify.css">
  </head>
  <body>
    <div class="top">
      <div class="logo">
        <div class="title">ZARA</div>
        <div class="logo-icon"><a href=""><img src="images/shoppingcart.svg" alt=""></a></div>
      </div>
      <div class="search-group">
        <div class="search-icon"><a href=""><img src="images/number.svg" alt=""></a></div>
        <div class="search-box">
          <input type="text"><span>SEARCH</span>
        </div>
      </div>
    </div>
  </body>
  <div class="center"></div>
  <div class="div"></div>
  <div class="div"></div>

</html>