<!DOCTYPE html>
<html>
  <head>
    <title>detail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="stylesheets/detail.css">
    <link rel="stylesheet" href="stylesheets/css/bootstrap.min.css">
    <script src="javascripts/js/jquery-3.3.1.js"></script>
    <script src="javascripts/js/bootstrap.js"></script>
  </head>
  <body></body>
  <div class="mode"><a href="page">< back</a></div>
  <div class="title"><span>亚麻长连衣裙</span></div>
  <div class="center"><img src="images/17.jpg">
    <div class="word">
      <p>V领短袖垂性连衣裙 。</p>
      <p>A字型款式。正面撞色纽扣闭合。</p>
      <p>颜色：卡其色</p>
    </div>
  </div>
  <div class="foot">
    <div class="container">
      <div class="dropup">
        <button class="btn btn-default" data-toggle="dropdown">添加</button>
        <ul class="dropdown-menu">
          <li></li><a href="#">L(175/78A)</a>
          <li></li><a href="#">M(170/70A)</a>
          <li></li><a href="#">S(165/66A)</a>
        </ul>
      </div>
      <div class="price">
        <input input type="text">
      </div>
    </div>
  </div>
</html>