<!DOCTYPE html>
<html>
  <head>
    <title>list</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="stylesheets/list.css">
  </head>
  <body>
    <div class="top">
      <div class="logo">
        <div class="back"><a href="page"><img src="images/l-t-l.svg"></a></div>
        <div class="title">ZARA</div>
        <div class="logo-icon"><a href="shopping"><img src="images/shoppingcart.svg" alt=""></a></div>
      </div>
      <div class="search-group">
        <div class="search-icon"><a href=""><img src="images/number.svg" alt=""></a></div>
        <div class="search-box">
          <input type="text"><span>SEARCH</span>
        </div>
      </div>
    </div>
  </body>
  <div class="center">
    <div class="list"><a href="classify">NEW IN</a></div>
    <div class="list"><a href="classify">WOMAN</a></div>
    <div class="list"><a href="classify">MAN</a></div>
    <div class="list"><a href="classify">KIDS</a></div>
    <div class="list"><a href="classify">TRF</a></div>
    <div class="list"><a href="classify">SALE</a></div>
    <div class="list"><a href="classify">JOIN LIFE</a></div>
    <div class="list"><a href="classify">CAMPAIGN</a></div>
  </div>
  <div class="foot">
    <div class="mode"><a href="classify"><img src="images/goods.svg" alt="classify"></a>
      <div class="mode-t">PRODUCTS</div>
    </div>
    <div class="mode"><a href="login"><img src="images/login.svg" alt="login"></a>
      <div class="mode-t">MY ACCOUNT</div>
    </div>
    <div class="mode"><a href="list"><img src="images/eare.svg" alt="list"></a>
      <div class="mode-t">LIST</div>
    </div>
  </div>
</html>