<!DOCTYPE html>
<html>
  <head>
    <title>login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="stylesheets/style1.css">
  </head>
  <body><span></span>
    <div class="top">
      <div class="top-left"><a href="page"><img src="images/l-t-l.svg"></a></div>
      <div class="top-title">
        <p>ZARA CHINA</p>
      </div>
      <div class="top-right"><a href=""><img src="images/l-t-r.svg"></a></div>
    </div>
  </body>
  <div class="center">
    <div class="register">
      <p>REGISTERED</p>
      <form method="post" action="/login">
        <input class="first-input" type="text" placeholder="E-MAIL" name="username"><br>
        <input class="first-input" type="text" placeholder="PASSWORD" name="password">
        <input class="second-input" type="submit" value="LOGIN">
      </form>
      <div class="forget-psw"><a href="">FORGET THE PASSWORD?&nbsp&nbsp></a></div>
      <div class="register">
        <p>REGISTER</p><a href="register">
          <input class="second-input" type="button" value="CREATE USERNAME"></a>
      </div>
    </div>
  </div>
</html>