<!DOCTYPE html>
<html>
  <head>
    <title>home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <script src="javascripts/js/jquery-3.3.1.js"></script>
    <script src="javascripts/js/bootstrap.js"></script>
  </head>
  <body>
    <div class="top">
      <div class="logo">
        <div class="title">ZARA</div>
        <div class="logo-icon"><a href=""><img src="images/shoppingcart.svg" alt=""></a></div>
      </div>
      <div class="search-group">
        <div class="search-icon"><a href=""><img src="images/number.svg" alt=""></a></div>
        <div class="search-box">
          <input type="text"><span>SEARCH</span>
        </div>
      </div>
    </div>
  </body>
  <div class="center">
    <div class="list-group">
      <div class="carousel slide" id="mycarousel" data-ride="carousel">
        <div class="carousel-inner">
          <div class="item active"><img src="images/0.jpg" alt=""></div>
          <div class="item"><img src="images/1.jpg" alt=""></div>
          <div class="item"><img src="images/2.jpg" alt=""></div>
          <div class="item"><img src="images/3.jpg" alt=""></div>
          <div class="item"><img src="images/4.jpg" alt=""></div>
          <div class="item"><img src="images/5.jpg" alt=""></div>
        </div>
      </div>
    </div>
    <div class="price">FREE SHIPPING FOR ORDERS OVER 50 DOLLAR</div>
    <div class="list-title">NEW IN
      <div class="list">
        <!-- each arr in result
        a(href='#')
            img(src=arr.img, alt="")
        -->
      </div>
    </div>
    <div class="list-title">WOMAN
      <div class="list"><a href=""><img src="images/b.jpg" alt=""></a></div>
    </div>
    <div class="list-title">TRF
      <div class="list"><a href=""><img src="images/c.jpg" alt=""></a></div>
    </div>
    <div class="list-title">MAN
      <div class="list"><a href=""><img src="images/d.jpg" alt=""></a></div>
    </div>
    <div class="list-title">KIDS
      <div class="list"><a href=""><img src="images/e.jpg" alt=""></a></div>
    </div>
    <div class="list-title">SALE
      <div class="list"><a href=""><img src="images/f.jpg" alt=""></a></div>
    </div>
    <div class="list-title">JOIN LIFE
      <div class="list"><a href=""><img src="images/g.jpg" alt=""></a></div>
    </div>
    <div class="list-title">CAMPAIGN
      <div class="list"><a href=""><img src="images/h.jpg" alt=""></a></div>
    </div>
  </div>
  <div class="foot">
    <div class="mode"><a href=""><img src="images/goods.svg" alt=""></a></div>
    <div class="mode"><a href=""><img src="images/login.svg" alt=""></a></div>
    <div class="mode"><a href=""><img src="images/eare.svg" alt=""></a></div>
  </div>
</html>